@charset "utf-8";

.bp-reset-element,body,h1,h2,h3,h4,h5,h6,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
,summary,blockquote,q,th,td,caption,table,div,span,object,iframe,p,pre,a,abbr,acronym,address,code,del,dfn,em,img,dl
,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead
,tr{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}



body{
	background:#fff;
	font-family:verdana,arial;
	font-weight:normal;
}

a {text-decoration:none}
a:hover {text-decoration:underline;color:#f00}

div.contenido
{
	background:#f0f8ff;
	padding:5px;
	min-height:300px;
}

div.cuadro_aviso
{
	border:4px solid #f0f0f0;
	margin:10px auto;
	width:650px;
}

.cuadro_aviso div.titulo
{
	padding:10px;
	font-size:16px;
	font-weight:bold;
	background:#808080;
	color:#fff;
}

.cuadro_aviso div.cuerpo
{
	padding:10px;
	background:#fff;
	font-size:14px;
}
.cuadro_aviso .cuerpo pre
{
	overflow:scroll;
	max-height:400px;
	max-width:640px;
	background:#f8f8f8;
	border:1px solid #808080;
	font-family:"Courier New";
	font-size:12px;
	font-weight:normal;
	color:#000;
}

div.pie_pagina
{
	border-top:1px solid #000;
	padding:5px;
	font-size:11px;
	text-align:center;
	background:#f0f0f0;
}

ul{
	list-style:none;
	margin-left:10px;
}


